@use "../../../../assets/scss/colors" as *;
@use "../../../../assets/scss/sizes" as *;
@use "../../../../assets/scss/variables" as *;

.typewriter-text {
  height: $size40;
  margin: $size16 $size16 0;
  font-size: $size32;

  &.composite {
    font-size: $size16;
  }
}

.toggle-btn {
  border: none;
  background: transparent;
  text-transform: uppercase;
  height: $size24;
  padding: $size4;
  font-size: $size12;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $baseFontColor;
    color: $baseFontColor;
    font-weight: bold;
  }
}

@media #{$mobileScreen} {
  .typewriter-text {
    height: $size28;
    font-size: $size20;

    &.composite {
      height: $size112;
      font-size: $size20;
    }
  }
}
