@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

body {
  color: $gray-700;

  h1, h2, i {
    text-shadow: 0 3px 5px $shadow;
  }

  li:hover, li:focus {
    color: $primary;
    font-weight: bold;
  }
}

#sideNav {
  .img-profile {
    width: 9rem;
  }

  box-shadow: 0 3px 5px $shadow;
  img {
    box-shadow: 0 3px 5px $shadow;
  }
  .name-sub {
    color: $gray-900;
    margin-top: -6vh;
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
  }
}

#about {
  h1 {
    font-size: 7.5rem;
  }

  .parag {
    font-size: 1.25rem;
    width: 60vw;
  }
}

#portfolio {
  .card-img {
    height: 100%;
    width: 100%;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 1vh auto;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: $gray-500;
    border: 1px dotted $gray-500;
    border-radius: 10px;
    box-shadow: -3px 2px 3px 2px $gray-400;
    color: $black;
  }

  .flip-card-back {
    border: 1px dotted $gray-600;
    border-radius: 10px;
    box-shadow: -3px 2px 3px 2px $gray-400;
    padding-top: 15px;
    background-color: $gray-500;
    color: $white;
    transform: rotateY(180deg);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }

  #see-more {
    display: none;
    margin: auto;
  }
}

#skills{
  h3 {
    font-size: 2rem;
  }

  .skills-list {
    margin: auto;
    text-align: center;
    width: 85%;

    i {
      font-size: 12vh;
    }
    i:hover, i:focus {
      color: $primary;
    }
  }

  .techphil {
    float: left;
    font-size: 1.1rem;
  }

  .highfive {
    float: right;
    img {
      filter: grayscale(100%);
      height: 150px;
      margin: 0 50px 0 0;
      padding-top: 0;
      width: 225px;
    }
    img:hover, img:focus {
      filter: grayscale(0%);
    }
    a {
      p {
        font-size: .65em;
        color: $gray-700;
        margin-left: 3.5vw;
      }
    }
  }
}

#community {
  h2 {
    font-size: 4rem;
  }

  .card {
    height: 28vh;
    width: 50vw;
    margin: auto;

    a, .card-title {
      color: $gray-100 !important;
    }

    .card-title {
      margin-top: 10vh;
    }

    .control {
      width: 0vw !important;
    }

    .dxh {
      background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 6)
      ), url(../img/community/dxh.jpg) no-repeat center center;
      background-size: 100% 100%;
    }
    .cwc {
      background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 6)
      ), url(../img/community/cwc.gif) no-repeat center center;
      background-size: 100% 100%;
    }
    .swc {
      background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 6)
      ), url(../img/community/swc.jpg) no-repeat center center;
      background-size: 100% 100%;
    }
    .cfb {
      background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 4)
      ), url(../img/community/cfb.jpeg) no-repeat center center;
      background-size: 100% 100%;
    }
    .asc {
      background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 6)
      ), url(../img/community/asc.png) no-repeat center center;
      background-size: 100% 100%;
    }
    .shaha {
      background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 6)
      ), url(../img/community/shaha.jpg) no-repeat center center;
      background-size: 100% 100%;
    }
    .esl {
      background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 6)
      ), url(../img/community/esl.jpg) no-repeat center center;
      background-size: 100% 100%;
    }
    .prab {
      background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 6)
      ), url(../img/community/prab.jpg) no-repeat center center;
      background-size: 100% 100%;
    }
    .infra {
      background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 6)
      ), url(../img/community/infra.jpg) no-repeat center center;
      background-size: 100% 100%;
    }
  }

  .control {
    background-color: $shade;
  }
}

#interests {
  .interest-card {
    box-shadow: -2px 1px 2px 1px $gray-300;
    width: 23vw;

    img {
      height: 45vh;
    }

    a,
    button {
      background-color: #fff !important;
      border-color: $primary !important;
      color: $primary !important;
    }

    a:hover,
    button:hover {
      background-color: $primary !important;
      border-color: $gray-100 !important;
      color: $gray-100 !important;
    }
  }

  .modal-body {
    text-align: center;

    .video {
      max-width: 90vw;
    }
  }
}

#contact {
  .contact-icons {
    text-align: center;

    i {
      font-size: 3rem;
    }

    p {
      font-size: .75rem;
    }
  }

  img {
    border: 1px solid #dedede;
    border-radius: 3px;
    box-shadow: -3px 5px 8px 1px rgba(170, 170, 170, .75);
    display: block;
    height: 75vh;
    margin: 0 auto;
    width: 50vh;
  }

  p {
    color: $gray-900;
    font-size: .8em;
    font-style: italic;
    font-weight: bold;
    margin-top: .75em;
    text-align: center;
  }

  a img:hover {
    filter: opacity(.9) brightness(30%);
  }
}

@media only screen and (max-width: 1000px) {
  #community .card {
    height: 34vh;
    width: 70vw;
  }
}

@media only screen and (max-width: 750px) {
  .highfive {
    margin-top: 2rem;
  }

  .social-icons {
    text-align: center;
  }

  #about .parag {
    width: 90vw;
  }

  #interests .interest-card {
    margin: auto;
    width: 45vw;
  }
}

@media only screen and (max-width: 600px) {
  #interests .interest-card {
    margin: auto;
    width: 75vw;
  }

  #community .card {
    height: 38vh;
    width: 70vw;
  }

  #portfolio {
    .hidden {
      display: none;
    }

    #see-more {
      display: block;
    }
  }
}
