@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

#skills{
  .skills-list {
    text-align: center;
    width: 75%;
    i {
      font-size: 15vh;
    }
  }
}
