@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

body {
  color: $gray-700;
}

.img-profile {
  width: 9rem;
}

.mode-toggle {
  color: $primary;
  font-size: .75em;
  font-style: italic;
  float: right;
}

.card-img {
  height: 100%;
  width: 100%;
}

#skills{
  .skills-list {
    margin: auto;
    text-align: center;
    width: 85%;
    i {
      font-size: 15vh;
    }
    i:hover, i:focus {
      color: $primary;
    }
  }
}

#resume {
  img {
    border: 1px solid #dedede;
    border-radius: 3px;
    box-shadow: -3px 5px 8px 1px rgba(170, 170, 170, .75);
    display: block;
    height: 75vh;
    margin: 0 auto;
    width: 50vh;
  }

  .download {
    float: right;
  }

  p {
    color: $gray-900;
    font-size: .8em;
    font-style: italic;
    font-weight: bold;
    margin-top: .75em;
    text-align: center;
  }

  a img:hover {
    filter: opacity(.9) brightness(25%);
  }
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 1vh auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: $gray-500;
  border: 1px dotted $gray-500;
  border-radius: 10px;
  box-shadow: -3px 2px 3px 2px $gray-400;
  color: $black;
}

/* Style the back side */
.flip-card-back {
  border: 1px dotted $gray-600;
  border-radius: 10px;
  box-shadow: -3px 2px 3px 2px $gray-400;
  padding-top: 15px;
  background-color: $gray-500;
  color: $white;
  transform: rotateY(180deg);
}

.navbar {
  box-shadow: 0 3px 5px $shadow;
  img {
    box-shadow: 0 3px 5px $shadow;
  }
  .name-sub {
    color: $gray-100;
    margin-top: -6vh;
    font-weight: bold;
    font-style: italic;
  }
}

h1, h2, h3, h4, i {
  text-shadow: 0 3px 5px $shadow;
}

.techphil {
  float: left;
}

li:hover, li:focus {
  color: $primary;
  font-weight: bold;
}

.highfive {
  float: right;
  img {
    filter: grayscale(100%);
    height: 150px;
    margin: 0 50px 0 0;
    padding-top: 0;
    width: 225px;
  }
  img:hover, img:focus {
    filter: grayscale(0%);
  }
}

/* style for phone screen sizes */
@media only screen and (max-width: 750px) {
  .highfive {
    float: left;
    margin-top: 15px;
  }

  .social-icons {
    text-align: center;
    a {
      width: 20vw;
    }
  }
}

.dark-mode {
  background-color: $dark-base;

  #sideNav {
    background-color: $dark-elevate;
  }
}

.interest-card {
  box-shadow: -2px 1px 2px 1px $gray-300;
  width: 23vw;

  img {
    height: 45vh;
  }
}

@media only screen and (max-width: 600px) {
  .interest-card {
    margin: auto;
    width: 75vw;
  }
}

.contact-icons {
  text-align: center;

  i {
    font-size: 8em;
  }

  p {
    font-size: .85em;
    margin-top: 1em;
  }
}
