@use "../../../../assets/scss/sizes" as *;
@use "../../../../assets/scss/variables" as *;

.carousel {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .carousel-control {
    border: none;
    background-color: transparent;
    height: $size256;
    width: $size96;
    max-height: 35vw;
    z-index: 2;
    cursor: pointer;

    &.left {
      margin-right: -$size96;
    }

    &.right {
      margin-left: -$size96;
    }

    .icon {
      color: transparent;
      font-size: $size80;
    }

    &:hover,
    &:focus {
      .icon {
        color: rgba(255, 255, 255, 0.75);
      }
    }
  }

  .inner-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;

    .slide {
      position: relative;
      border-radius: $size24;

      &:not(.active) {
        display: none;
      }

      img {
        height: $size256;
        width: $size800;
        max-height: 35vw;
        max-width: 80vw;
      }

      .caption-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 75%;
        background: linear-gradient(transparent, black);

        .caption {
          position: absolute;
          bottom: 0;
          padding: $size32;
          width: 90%;
          color: white;
          font-weight: 600;
          text-shadow: -$size4 $size4 $size10 black;

          h3 {
            font-size: $size24;
            font-weight: 400;
          }
        }
      }
    }

    .indicators {
      display: flex;

      input {
        display: block;
        height: $size20;
        width: $size20;
        margin: $size8 $size16;
        cursor: pointer;
      }
    }
  }
}

@media #{$mobileScreen} {
  .carousel {
    .inner-carousel .slide img,
    .carousel-control {
      min-height: $size320;
    }
  }
}
