.main-intro {
  max-width: 90vw;
  margin: 1rem auto;
  display: flex;
  min-height: 34rem;
  justify-content: center;

  .self-description {
    max-width: 50vw;
    padding: .5rem 2rem;

    .intro {
      .header {
        font-size: 32px;
        font-weight: 400;
      }

      .description {
        margin: 1rem 0;
        font-size: 16px;
      }
    }
  }

  .resume-preview {
    height: 20rem;
    float: right;
    margin-top: -1rem;
    margin-left: 1rem;
  }
}