@use '../../../../assets/scss/variables' as *;

.main-intro {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  min-height: 34rem;
  margin: 1rem auto;

  .self-description {
    max-width: 50vw;
    padding: .5rem 2rem;

    .intro {
      padding: .5rem;

      .header {
        font-size: 32px;
        font-weight: 400;
      }

      .description {
        margin: 1rem 0;
        font-size: 16px;
      }
    }
  }
}

@media #{$mobileScreen} {
  .main-intro {
    width: 100%;

    .self-description {
      max-width: 100vw;

      .intro {
        padding: .25rem;
      }
    }
  }
}