$baseAppBackground: rgb(254, 252, 249);
$baseFontColor: rgba(57, 62, 65, 1);
$baseHighlightAlert: rgba(229, 98, 94, 1);
$baseHighlightSuccess: rgba(40, 150, 90, 1);
$baseHighlightNeutral: rgba(44, 140, 153, 1);

$constructionBackground: rgba(89, 238, 255, 1);

$shadowBlack: rgba(0, 0, 0, .5)