$desktopOrTabletScreen: "only screen and (min-width: 40em)";
$tabletScreen: "only screen and (max-width: 60em)";
$mobileScreen: "only screen and (max-width: 40em)";

$selfieSizeMobile: 14rem;
$navbarHeight: 6rem;
$projectTileSize: 15rem;
$selfieSize: 20rem;
$socialButtonSize: 3.5rem;
