@use "../../../../assets/scss/colors" as *;
@use "../../../../assets/scss/sizes" as *;
@use "../../../../assets/scss/variables" as *;

.photo-wrapper {
  background-color: white;
  border-radius: $size4;
  box-shadow: -1px $size10 $size16 $shadowBlack;
  width: $selfieSize;
  height: $selfieSize * 1.3;
  margin: $size16 $size32;
  transform: rotate(-5deg);
  overflow: hidden;

  .selfie {
    width: $selfieSize * 0.8;
    height: $selfieSize;
    display: block;
    margin: $size24 auto 0;
    border: $size2 inset $shadowBlack;
    border-radius: $size4;
  }

  .pronoun-badge {
    position: relative;
    height: $selfieSize / 5;
    top: -$selfieSize / 3.5;
    left: $selfieSize / 1.55;
    border-radius: $size10;
    box-shadow: -1px 1px $size4 $shadowBlack;
    transform: rotate(-12deg);
  }

  .general-assembly {
    position: relative;
    height: $selfieSize / 2.5;
    top: -$selfieSize / 5;
    left: -$selfieSize / 3;
    transform: rotate(12deg);
  }
}

@media #{$mobileScreen} {
  .photo-wrapper {
    width: $selfieSizeMobile;
    height: $selfieSizeMobile * 1.3;
    margin: $size16 $size40;

    .selfie {
      width: $selfieSizeMobile * 0.8;
      height: $selfieSizeMobile;
    }

    .pronoun-badge {
      height: $selfieSizeMobile / 5;
      top: -$selfieSizeMobile / 3.5;
      left: $selfieSizeMobile / 1.55;
    }

    .general-assembly {
      height: $selfieSizeMobile / 2.5;
      top: -$selfieSizeMobile / 5;
      left: -$selfieSizeMobile / 2.5;
    }
  }
}
