@use '../../assets/scss/colors' as *;
@use '../../assets/scss/sizes' as *;
@use '../../assets/scss/variables' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $baseAppBackground;
  height: $navbarHeight;
  width: 100vw;
  padding: $navbarHeight / 3;
  position: fixed;
  z-index: 99;

  &.menu-open,
  &.past-breakpoint {
    box-shadow: 0 $size6 $size24 $size6 $shadowBlack;
  }

  .nav-header {
    .home-link {
      color: $baseFontColor;
      min-width: $navbarHeight / 2;
      height: $navbarHeight / 2;
      text-align: center;
      padding-top: $size8;
      margin-left: $size16;
      font-size: $size24;
      text-decoration: none;
    }
  
    .menu-btn {
      border: none;
      background: transparent;
      float: right;
      height: $navbarHeight / 3;
      width: $navbarHeight / 3;
    }
  }

  .menu-list {
    .menu-link {
      height: $navbarHeight;
      padding: $navbarHeight / 8;
      color: $baseFontColor;
      text-decoration: none;

      &:hover, &:focus {
        font-weight: 400;
        text-decoration: underline;
      }
    }
  }
}

@media #{$mobileScreen} {
  .navbar {
    display: block;
    overflow: hidden;

    &.menu-open {
      align-items: flex-start;
      height: $navbarHeight * 3;
    }

    .collapsed .menu-item {
      display: none;
    }

    .nav-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .home-link {
        font-size: $size16;
      }

      .menu-btn {
        display: flex;
      }
    }
    
    .menu-list {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      height: $navbarHeight * 2;

      .menu-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $navbarHeight / 2;
      }
    }
  }
}

@media #{$desktopOrTabletScreen} {
  .menu-btn {
    display: none;
  }

  .menu-list {
    display: flex;
  }
}