@use '../../assets/scss/variables' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  height: $navbarHeight;
  width: 100vw;
  padding: $navbarHeight / 3;
  position: fixed;
  z-index: 99;

  &.menu-open {
    align-items: flex-start;
    height: 60vh;

    .menu-list {
      margin-top: $navbarHeight;
    }
  }

  .home-link {
    color: black;
    min-width: $navbarHeight / 2;
    height: $navbarHeight / 2;
    text-align: center;
    padding-top: .5rem;
    font-size: 24px;
    text-decoration: none;
  }

  .menu-btn {
    border: none;
    background: transparent;
    float: right;
    height: $navbarHeight / 3;
    width: $navbarHeight / 3;
  }

  .menu-list {
    .menu-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $navbarHeight;
      padding: $navbarHeight / 8;
      color: black;
      text-decoration: none;

      &:hover {
        background-color: yellow;
      }
    }
  }
}

@media #{$mobileScreen} {
  .collapsed .menu-item {
    display: none;
  }
}

@media #{$desktopOrTabletScreen} {
  .menu-btn {
    display: none;
  }

  .menu-list {
    display: flex;
  }
}