@use "../../../../assets/scss/colors" as *;
@use "../../../../assets/scss/sizes" as *;
@use "../../../../assets/scss/variables" as *;

$imageHoverFilter: brightness(0.6) grayscale(50%)
  drop-shadow($size2 $size2 $size4 $shadowBlack);

.resume-preview {
  float: right;
  margin-left: $size16;
  padding: $size6;
  border-radius: $size16;

  .resume-img {
    height: $size320;
    border-radius: 5%;
  }

  #preview-instructions {
    font-size: $size10;
    font-style: italic;
    font-weight: 400;
    text-align: center;
  }

  &:hover,
  &:focus {
    .resume-img {
      -webkit-filter: $imageHoverFilter;
      -o-filter: $imageHoverFilter;
      filter: $imageHoverFilter;
    }
    #preview-instructions {
      font-size: $size12;
    }
  }
}

@media #{$mobileScreen} {
  .resume-preview {
    float: none;
    box-shadow: none;
    margin-left: $size40;

    #preview-instructions {
      font-size: $size12;
      text-align: left;
      margin-left: $size80;
    }
  }
}
