@use "../../../assets/scss/colors" as *;
@use "../../../assets/scss/sizes" as *;
@use "../../../assets/scss/variables" as *;

.tile {
  border-radius: 1rem;
  background-color: white;
  width: 20rem;
  height: 30rem;
  box-shadow: -1px $size10 $size16 $shadowBlack;
  margin: 1rem;

  img {
    width: 100%;
  }
  .content {
    padding: 1rem;

    h2 {
      font-weight: 600;
    }

    p {
      margin: 1rem 0;
    }

    li {
      margin-bottom: 0.5rem;
    }
  }

  &:hover {
    box-shadow: -1px $size16 $size24 $shadowBlack;
  }
}
