@use '../../../assets/scss/colors' as *;

.project-tile {
  height: 15rem;
  width: 15rem;
  margin: 1rem 1rem .25rem;
  border-radius: 15px;

  .card, .face, img {
    width: 100%;
    height: 100%;
  }

  .card {
    position: relative;

    .face {
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: all 1s ease;

      &.back {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding: 1rem;
        transform: rotateY(180deg);
        border: 1px solid $baseFontColor;
        border-radius: 15px;

        .btn-container {

          project-link {
            display: inline-block;
            background-color: grey;
            border: 1px solid $baseFontColor;
            border-radius: 5px;
            padding: .5rem;
            margin: .5rem;
          }
        }
      }
    }

    &:hover,
    &:focus,
    &.flipped {
      .face {
        transition: all 1s ease;
      }

      .front {
        transform: rotateY(180deg);
      }

      .back {
        transform: rotateY(0);
      }
    }
  }
}