@use '../../../assets/scss/sizes' as *;
@use '../../../assets/scss/variables' as *;

$arrowAnimation: fadeMoveDown 2s ease-in-out infinite;

.scroll-link-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: $size256;
  margin: 4vw auto;
  overflow: hidden;

  .pause-icon {
    display: none;
  }

  .scroll-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: navy;
    font-style: italic;
    text-decoration: none;
    overflow: hidden;
    width: 90%;

    .arrows {
      height: $size16;
      width: $size16;
      margin-bottom: $size8;
      border-left: 1px solid navy;
      border-bottom: 1px solid navy;
      border-radius: 0 0 0 $size2;
      transform: rotate(-45deg);

      &.animated {
        -webkit-animation: $arrowAnimation;
        -moz-animation: $arrowAnimation;
        animation: $arrowAnimation;
      }
    }
  }

  &:hover, &:focus {
    .pause-icon {
      display: inline-block;
      color: grey;
      font-size: $size24;
      height: $size32;
      line-height: $size24;
      cursor: pointer;
    }
  }
}

@keyframes fadeMoveDown {
  0%   { 
    transform: translate(0, -$size8) rotate(-45deg);
    opacity: 0;
  }
  50%  { 
    opacity: 1;  
  }
  100% {
    transform: translate(0, $size8) rotate(-45deg);
    opacity: 0;
  }
}

@media #{$mobileScreen} {
  .scroll-link-container {
    margin: $size64 auto;
  }
}