@use '../../../../../assets/scss/sizes' as *;

$lighterShadow: rgba(0,0,0,.25);

.personal-interests {
  .intro-header {
    font-size: $size32;
    width: $size800;
    max-width: 80vw;
    margin: 0 auto $size16;
    text-align: center;
  }

  .btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: $size800;
    max-width: 80vw;
    padding: $size32;
    margin: auto;
    box-shadow: 
      0 $size16 $size32 $lighterShadow,
      0 $size12 $size12 $lighterShadow;
  }

  .display-container {
    display: flex;
    justify-content: center;
    height: $size480;
    width: $size800;
    max-width: 80vw;
    margin: $size32 auto;
  }
}