.personal-interests {
  .intro-header {
    font-size: 2rem;
    width: 55rem;
    max-width: 80vw;
    margin: 0 auto 1rem;
    text-align: center;
  }

  .btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 55rem;
    max-width: 80vw;
    padding: 2rem;
    margin: auto;
    box-shadow: 
      0 1rem 2rem rgba(0,0,0,0.25),
      0 .75rem .75rem rgba(0,0,0,0.22);
  }

  .display-container {
    display: flex;
    justify-content: center;
    height: 30rem;
    width: 55rem;
    max-width: 80vw;
    margin: 2rem auto;
  }
}