@use '../../../assets/scss/colors' as *;
@use '../../../assets/scss/sizes' as *;
@use '../../../assets/scss/variables' as *;

#engineering-section {
  text-align: center;

  .eng-title {
    text-transform: uppercase;
    font-weight: 400;
    margin-top: $size24;
    font-size: $size36;
  }

  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 50vh;
    width: 85vw;
    margin: auto;
  }
}

@media #{$mobileScreen} {  
  .eng-instructions {
    font-style: italic;
    font-size: $size16;
    margin: $size8;
  }

  .collapsed {
    display: none;
  }

  .mobile-btn {
    margin: $size40 $size16 $size16;
    padding: $size16;
    font-size: $size20;
    border: 1px solid $baseFontColor;
    border-radius: $size8;
    background-color: $baseAppBackground;
  }
}

@media #{$desktopOrTabletScreen} {
  .eng-title {
    margin-bottom: $size8;
  }

  .eng-instructions,
  .mobile-btn {
    display: none;
  }
}