$desktopOrTabletScreen: 'only screen and (min-width: 32em)';
$mobileScreen: 'only screen and (max-width: 32em)';

$selfieSizeMobile: 14rem;
$navbarHeight: 6rem;
$projectTileSize: 15rem;
$selfieSize: 20rem;
$socialButtonSize: 3.5rem;