@use '../../../assets/scss/colors' as *;
@use '../../../assets/scss/variables' as *;

.social-link, .social-link:visited {
  color: navy;

  &.social-btn {
    fa-icon {
      display: inline-block;
      background-color: grey;
      color: white;
      height: $socialButtonSize;
      width: $socialButtonSize;
      line-height: $socialButtonSize;
      border-radius: 50%;
    }
  }
  
  &.google-btn {
    display: inline-block;
    position: relative;
    color: white;
    background-color: $googleColor;
    border-radius: 5px;
    margin: 0 .5rem;
    padding: .85rem;
    text-decoration: none;
    text-align: center;
    transition: .5s;

    &:hover, &:focus {
      box-shadow: 
        .4rem .4rem darken($googleColor, 20%), 
        -.4rem -.4rem lighten($googleColor, 20%);
    }
  }
}