@use '../../../assets/scss/colors' as *;
@use '../../../assets/scss/sizes' as *;
@use '../../../assets/scss/variables' as *;

.social-link, .social-link:visited {
  color: navy;

  fa-icon {
    font-size: $size12;
    position: relative;
    top: -$size4;
  }

  &.social-btn {
    fa-icon {
      display: inline-block;
      color: $baseFontColor;
      font-size: $socialButtonSize / 2;
      height: $socialButtonSize;
      width: $socialButtonSize;
      line-height: $socialButtonSize;
      border: $size2 solid $baseFontColor;
      border-radius: 50%;
      transition: .3s ease;
      overflow: hidden;
    }

    &:hover, &:focus {
      fa-icon {
        background: $baseFontColor;
        color: $baseAppBackground;
      }
    }
  }
}