@use '../../../assets/scss/colors' as *;
@use '../../../assets/scss/variables' as *;


.typewriter-text {
  height: 2.5rem;
  margin: 1rem 1rem 0;
  font-size: 2rem;

  &.composite {
    font-size: 1rem;
  }
}

.toggle-btn {
  border: none;
  color: grey;
  background: transparent;
  text-transform: uppercase;
  height: 1.5rem;
  padding: .25rem;
  font-size: .75rem;

  &:hover, &:focus {
    border: 1px solid $baseFontColor;
    border-radius: 5px;
    color: $baseFontColor;
    font-weight: bold;
  }
}

@media #{$mobileScreen} {
  .typewriter-text {
    height: 1.75rem;
    font-size: 1.25rem;

    &.composite {
      height: 7rem;
      font-size: 1.25rem;
    }
  }
}