@use '../../assets/scss/colors' as *;
@use '../../assets/scss/sizes' as *;

.under-construction {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $constructionBackground;

  h2, p, li {
    margin: $size12;
    text-align: center;
  }

  img {
    height: $size320;
    max-width: $size480;
  }

  .email-link, .email-link:visited {
    color: navy;
  }

  social-link {
    .newtab, .resume {
      font-size: small;
    }
  }
}