@use "../../../assets/scss/colors" as *;
@use "../../../assets/scss/sizes" as *;
@use "../../../assets/scss/variables" as *;

.splash {
  display: flex;
  margin-bottom: 4rem;
  width: 100%;
  min-height: 20rem;

  img {
    width: 40rem;
    object-fit: cover;
    border-radius: 1rem;
    border: 1px solid $shadowBlack;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin-left: 3rem;

    p {
      margin: 1rem 0;
    }

    li {
      margin: 0.5rem 0;
    }
  }
}
