@use '../../../../../assets/scss/sizes' as *;

.community-intro {
  display: block;
  width: $size800;
  max-width: 75vw;
  margin: $size12 auto;

  .heading {
    font-size: $size28;
  }

  .description {
    margin: $size16 0;
  }
}