@use '../../../assets/scss/colors' as *;
@use '../../../assets/scss/fonts' as *;
@use '../../../assets/scss/sizes' as *;
@use '../../../assets/scss/variables' as *;

.section-body {
  text-align: center;
  margin-top: 18vh;

  .name-display {
    font-size: $size48;
    font-weight: 400;
    text-transform: uppercase;
    margin: $size16;

    span {
      font-weight: 400;
      color: $baseHighlightAlert;
    }
  }

  .socials {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    margin: $size24 auto;
    overflow: hidden;

    .social-button {
      padding: $size16;
    }
  }
}

@media #{$mobileScreen} {
  .section-body {
    margin-top: 10vh;

    .socials {
      width: 90vw;
    }
  }
}