@use '../../../assets/scss/fonts' as *;

.section-body {
  text-align: center;
  margin-top: 18vh;

  .name-display {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 1rem;
  }

  .socials {
    display: flex;
    justify-content: space-evenly;
    width: 35%;
    margin: auto;
    overflow: hidden;

    .social-button {
      padding: 1rem;
    }
  }
}