@use '../../../../assets/scss/colors' as *;
@use '../../../../assets/scss/sizes' as *;
@use '../../../../assets/scss/variables' as *;

.project-tile {
  height: $projectTileSize;
  width: $projectTileSize;
  margin: $size16 $size16 $size4;
  border-radius: $size16;

  .card, .face, img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .card {
    position: relative;

    .face {
      background-color: white;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      transition: all 1s ease;
      box-shadow: 0 0 $size8 grey;

      &.back {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        padding: $size16;
        transform: rotateY(180deg);
        border: 1px solid $baseFontColor;
        border-radius: $size16;

        .display-name {
          font-weight: 400;
        }

        .btn-container {
          display: flex;
          height: $size44;

          project-link {
            font-style: $size12;
            width: 50%;
            display: inline-block;
            border: 1px solid $baseFontColor;
            border-radius: $size6;
            padding: $size6 $size4 $size2;
            margin: $size4;

            &:hover, &:focus {
              border-width: $size2;
              box-shadow: inset 0 0 $size6 $size2 $baseFontColor;
            }

            &[linkType="site"] {
              background-color: $baseHighlightSuccess;
            }

            &[linkType="code"] {
              background-color: $baseHighlightNeutral;
            }
          }
        }
      }
    }

    &:hover,
    &.flipped {
      .face {
        transition: all 1s ease;
      }

      .front {
        transform: rotateY(180deg);
      }

      .back {
        transform: rotateY(0);
      }
    }
  }
}

.flipcard-btn {
  background-color: $baseAppBackground;
  padding: $size4;
  border: 1px solid $baseFontColor;
  border-radius: $size6;
  cursor: pointer;
  height: $size24;

  &:hover, &:focus {
    border: $size2 solid $baseFontColor;
    font-weight: bold;
  }
}

@media #{$mobileScreen} {
  .flipcard-btn {
    display: none;
  }
}
