.photo-wrapper {
  background-color: white;
  border-radius: 3px;
  box-shadow: -1px 6px 8px black;
  width: 22rem;
  height: 28rem;
  margin: 1rem 2rem;
  transform: rotate(-5deg);
  overflow: hidden;

  .selfie {
    width: 18rem;
    height: 22rem;
    display: block;
    margin: 1.5rem auto 0;
    border: 2px inset lightgrey;
    border-radius: 3px;
  }

  .pronoun-badge {
    position: relative;
    height: 4.5rem;
    top: -1rem;
    left: 14rem;
    border-radius: 10px;
    box-shadow: -1px 1px 3px grey;
    transform: rotate(-12deg);
  }
}