@use 'assets/scss/variables' as *;
@use 'assets/scss/fonts' as *;
@use 'assets/scss/colors' as *;

* { 
  box-sizing: border-box;
  font-family: $bodyFont;
  font-weight: 200;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: $baseFontColor;
  background-color: $baseAppBackground;
}

.page-section {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  padding-top: $navbarHeight + 1;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
[tabindex]:not([tabindex="-1"]):focus-visible {
  outline: 1.5px dashed $baseFontColor;
  outline-offset: .5rem;
}

a.social-link, a.social-link:visited, button {
  &.expand-btn {
    display: inline-block;
    position: relative;
    color: white;
    background-color: $baseHighlightAlert;
    border: 0;
    border-radius: 5px;
    margin: 0 .5rem;
    padding: .85rem;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    cursor: pointer;

    &:hover, &:focus {
      box-shadow: 
        .4rem .4rem darken($baseHighlightAlert, 20%), 
        -.4rem -.4rem lighten($baseHighlightAlert, 20%);
    }
  }
}

@media #{$mobileScreen} {
  .desktop-only { 
    display: none;
  }
}
@media #{$desktopOrTabletScreen} {
  .mobile-only {
    display: none;
  }
}