@use 'assets/scss/variables' as *;
@use 'assets/scss/fonts' as *;
@use 'assets/scss/colors' as *;

* { 
  box-sizing: border-box;
  font-family: $bodyFont;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: $baseAppBackground;
}

.page-section {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  padding-top: $navbarHeight + 1;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
[tabindex]:not([tabindex="-1"]):focus-visible {
  outline: 1.5px dashed black;
  outline-offset: .5rem;
}