@use 'assets/scss/colors' as *;
@use 'assets/scss/fonts' as *;
@use 'assets/scss/sizes' as *;
@use 'assets/scss/variables' as *;

* { 
  box-sizing: border-box;
  font-family: $bodyFont;
  font-weight: 200;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: $baseFontColor;
  background-color: $baseAppBackground;
}

.page-section {
  width: 100vw;
  min-height: 100vh;
  padding: $size16;
  padding-top: $navbarHeight + 1;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible,
[tabindex]:not([tabindex="-1"]):focus-visible {
  outline: $size2 dashed $baseFontColor;
  outline-offset: $size8;
}

a.social-link, a.social-link:visited, button {
  &.expand-btn {
    display: inline-block;
    position: relative;
    color: white;
    background-color: $baseHighlightAlert;
    border: 0;
    border-radius: $size6;
    margin: 0 $size8;
    padding: $size14;
    text-decoration: none;
    text-align: center;
    transition: .5s;
    cursor: pointer;

    &.large {
      font-size: $size24;
      padding: $size24;
      margin: $size16;
    }

    &:hover, &:focus {
      box-shadow: 
        $size6 $size6 darken($baseHighlightAlert, 20%), 
        -$size6 -$size6 lighten($baseHighlightAlert, 20%);
    }
  }
}

@media #{$mobileScreen} {
  .desktop-only { 
    display: none;
  }
}
@media #{$desktopOrTabletScreen} {
  .mobile-only {
    display: none;
  }
}